html,
body,
h1,
h2,
p {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 1px solid lightgray;
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 88px;
	z-index: 9999;
}
header button {
	border: none;
	outline: none;
	cursor: pointer;
	margin: 0 20px;
}
header .btn-menu {
	color: #dfe1e3;
	font-size: 1.5rem;
	padding: 15px 30px;
}
/*
해더 영역에 매뉴버튼 테스트 버전입니다.
*/
/* header .wrap-btn {
	cursor: pointer;
	width: 50px;
	height: 50px;
	margin: 0 20px;
	border: 1px solid red;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s;
} */
header .btn-menu2 {
	/* margin: 0 20px; */
	width: 30px;
	height: 3px;
	border-radius: 3px;
	background: black;
	position: relative;
	transition: all 0.4s;
}
header .btn-menu2::before,
header .btn-menu2::after {
	content: "";
	width: 30px;
	height: 3px;
	border-radius: 3px;
	background: black;
}
/* header .btn-menu2:hover .btn-menu2 {
	background: transparent;
} */
header .btn-menu2:hover .btn-menu2::before {
	transform: rotate(-45deg);
	/* position: absolute; */
	top: 0;
	left: 0;
}
header .btn-menu2:hover .btn-menu2::after {
	transform: rotate(45deg);
	/* position: absolute; */
	top: 0;
	left: 0;
}
header .btn-menu2::before {
	position: absolute;
	left: 0;
	top: -8px;
}
header .btn-menu2::after {
	position: absolute;
	left: 0;
	top: 8px;
}
header .btn-login {
	border: 1px solid #dfe1e3;
	border-radius: 4px;
	color: #737a82;
	font-size: 14px;
	font-weight: 900;
	padding: 15px 30px;
	transition: background-color 0.4s;
}
header .btn-login:hover {
	background-color: #f7f7f7;
}
header #title {
	/* font style 초기화 */
	text-decoration: none;
}
header #title h1 {
	color: #f7755e;
	font-family: "Pacifico", cursive;
	letter-spacing: 2px;
}

/* 배경화면 */
section.section1 {
	background: url(./images/banner.jpg) center;
	height: 680px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section.section1 h2 {
	color: #24a3c4;
	font-size: 44px;
	font-weight: 900;
}
section.section1 p {
	margin: 25px 0;
	text-align: center;
	line-height: 1.75rem;
	color: #767d85;
}
section.section1 button {
	background-color: #f7755e;
	color: #ffffff;
	font-weight: 900;
	padding: 15px 50px;
	margin: 10px 0 0 0;
	border: 1px solid #f7755e;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 900;
	transition: background-color 0.4s;
	cursor: pointer;
}
section.section1 button:hover {
	background-color: #f78a77;
}
section.section2 {
	display: flex;
	padding: 50px;
	justify-content: space-between;
	align-items: center;
}
section.section2 section {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
section.section2 section:first-child {
	text-align: right;
}
section.section2 section:last-child {
	text-align: left;
}
section.section2 section article h3 {
	color: #24a3c4;
}
section.section2 .profile {
	/* max-width: 330px; */
	/* max-height: 300px; */
	border-radius: 100%;
}
section.section3 {
	background-color: #f7755e;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 215px;
	padding: 88px 10%;
	box-sizing: content-box;
	text-align: center;
}
section.section3 h2 {
	color: #fff;
	font-weight: 900;
	letter-spacing: 1.25px;
}
section.section3 h2 + p {
	font-style: italic;
	font-weight: 200;
	color: #fff;
}
section.section3 h2 + p + div .author {
	font-size: 1.2rem;
	color: #fff;
	font-weight: bold;
}
section.section3 h2 + p + div .company {
	color: #fff;
	font-size: 14px;
	font-weight: 200;
}
section.section4 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 88px;
	flex-wrap: wrap;
}
section.section4 article {
	margin: 20px;
	width: 300px;
	border: 1px solid lightgray;
	border-radius: 4px;
	transition: all 0.4s;
}
section.section4 article:hover {
	box-shadow: 5px 5px 5px 0px lightgray;
	transform: translateY(-3px) scale(1.1);
}
section.section4 article img {
	width: 100%;
	border-radius: 4px 4px 0 0;
}
section.section4 article img + div {
	padding: 20px;
}
section.section4 article img + div h3 {
	color: #24a3c4;
	font-size: 1.5rem;
}
section.section4 article img + div p {
	color: #737a82;
}
section.section5 {
	background-color: #24a3c4;
	height: 350px;
}
@media screen and (max-width: 960px) {
	section.section2 {
		display: flex;
		flex-direction: column;
	}
	section.section2 .profile {
		order: -1;
	}
	section.section2 section:first-child {
		width: 80%;
		text-align: center;
	}
	section.section2 section:last-child {
		width: 80%;
		text-align: center;
	}
}
