:root {
	/* banner title size*/
	--font-size-large: 4rem;
	/* banner  */
	--font-size-medium: 2.5rem;
	/* main title size */
	--font-size-regular: 1.25rem;
	--font-size-small: 1rem;
	--font-size-micro: 14px;
	--font-description: 1.25rem;
	--font-footer-title: 1rem;
}
/* reset style */
* {
	box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
p,
span {
	margin: 0;
	padding: 0;
}
ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
p {
	font-family: "Raleway", sans-serif;
}
body::before {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	background: url(/cloneCoding2/images/bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: -10;
	opacity: 0.1;
}
/* a tag base style */
.link {
	text-decoration: none;
	color: #ffffff;
	transition: color 0.4s;
}

/* button base style */
.btn {
	border: none;
	outline: none;
	font-family: "Raleway", sans-serif;
	cursor: pointer;
	transition: color 0.4s;
	background-color: transparent;
}
/* section base style */
.section {
	padding: 150px 0;
}
/* header style */
.header {
	position: sticky;
	top: 0;
	width: 100%;
	height: 44px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #111111;
	color: #ffffff;
	font-family: "Raleway", sans-serif;
	font-size: var(--font-size-micro);
	z-index: 10;
}
.header__title {
	font-size: inherit;
	font-weight: 500;
	padding: 10px 20px;
}
.header__menu-btn {
	font-size: inherit;
	padding: 10px 20px;
	color: #888888;
}
.header__menu-btn:hover {
	color: #ffffff;
}
.header__menu-icon {
	margin-right: 5px;
}
.header__link {
}
/* aside( side manu) style */
.slide-menu {
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	height: 100vh;
	background: #111111;
	z-index: 50;
	text-align: right;
	transition: all 0.4s;
}
.slide-menu.active {
	right: 0;
}
.menu__close-btn {
	font-size: 2rem;
	padding: 15px;
	color: #888888;
}
.menu__close-btn:hover {
	color: #ffffff;
}
.menu__list {
	padding: 50px;
	text-align: left;
}
.menu__item {
	font-size: 1.25rem;
}
.menu__item:not(:last-child) {
	border-bottom: 1px solid #888888;
}
.menu__link {
	display: block;
	color: #888888;
	padding: 20px 0;
}
.menu__link:hover {
	color: #fff;
}
/* banner style*/
.banner {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.banner__img {
	max-width: 100%;
}
.banner__video {
	position: absolute;
	bottom: 50%;
	right: 50%;
	transform: translateX(50%) translateY(50%);
	max-width: 100%;
}
.banner__background {
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
	height: 100%;
	width: 100%;
	opacity: 1;
	animation: intro-bg 3s linear 3s;
	animation-fill-mode: forwards;
}
.banner__info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #ffffff;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	animation: intro-text 3s linear 2s;
	animation-fill-mode: forwards;
	z-index: 1;
}
.banner__title {
	text-align: center;
	font-size: 4rem;
	font-weight: 300;
}
.banner__description {
	color: #888888;
	text-align: center;
	font-size: var(--font-description);
	font-weight: 400;
	line-height: 2rem;
	letter-spacing: 0.5px;
}
.banner__link {
	color: #888888;
}
.banner__link:hover {
	color: #ffffff;
}
@keyframes intro-bg {
	100% {
		opacity: 0.75;
	}
}
@keyframes intro-text {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* section1 - main style */
.main {
	text-align: center;
}
.main__title {
	font-size: 2rem;
	font-weight: 300;
	color: #555555;
	margin-bottom: 20px;
	text-align: center;
}
.main__description {
	font-size: 14px;
	line-height: 1.5rem;
	text-align: center;
	display: inline-block;
	max-width: 780px;
	width: 90%;
}
.main__contents {
	width: 90%;
	max-width: 1100px;
	display: flex;
	flex-wrap: wrap;
	margin: 20px auto 0px auto;
}
.article {
	background-color: #ffffff;
	border-radius: 4px;
	text-align: left;
	padding: 2rem;
	width: 31%;
	margin: 10px;
}
.article__icon {
	font-size: 70px;
	color: #ce1b28;
}
.article__header {
	padding: 30px 0;
	font-weight: 300;
}
.article__description {
	font-size: var(--font-size-micro);
	line-height: 1.5rem;
}
/* section2 */
.main__section2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	background: url(./images/cta01.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;
}
.main__section2::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -1;
	opacity: 0.2;
	background-color: #ce1b28;
}
.main__section2 .main__title {
	color: #fff;
}
.main__section2 .main__description {
	color: rgba(255, 255, 255, 0.75);
}

/* section3 */
.main__section3 {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main__section3 .main__title {
}
.main__section3 .main__description {
	color: rgba(0, 0, 0, 0.75);
}
.main__section3 .main__contents {
}
.main__section3 .article {
	width: 31%;
}
.main__section3 .article__description {
	margin: auto;
	font-style: italic;
	text-align: left;
	position: relative;
	padding-left: 30px;
	font-size: 14px;
	margin-bottom: 30px;
}
.main__section3 .article__description::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 10px;
	height: 100%;
	background-color: #c6c6c6;
}
.article__user {
	display: flex;
	align-items: center;
}
.article__profile {
	border-radius: 50%;
	width: 60px;
	margin-right: 10px;
}
.article__name {
	font-size: 12px;
}
.article__name--red {
	color: #ce1b28;
}

/* footer style */
.footer {
	background: #111111;
	color: #ffffff;
	padding: 50px 0;
}
.footer .main__contents {
}
.footer .article {
	background-color: #111111;
	padding: 1rem;
}
.footer__section1 {
	width: 48%;
}
.footer__section2 {
	width: 25%;
}
.footer__section3 {
	width: 20%;
}
.footer__title {
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 300;
}
.footer__description {
	color: #888888;
	font-size: 15px;
	line-height: 1.5rem;
}
.footer__list .footer__item {
	padding: 15px 0;
	border-bottom: 1px solid #888888;
}
.footer__item {
	padding: 15px 0;
}
.footer__item:first-child {
	padding: 0 0 15px 0;
}
.footer__item:last-child {
	border: none;
}
.footer__link {
	color: #888888;
}
.footer__link:hover {
	color: #ce1b28;
}
.footer__link:hover .footer__icon {
	color: #888888;
}
.footer__icon {
	padding: 0 5px 0 0;
	font-size: 1.25rem;
}
.footer__company {
	text-align: center;
	font-size: var(--font-size-micro);
	color: #888888;
}
@media (max-width: 1023px) {
	.banner {
		height: 400px;
	}
	.banner__description {
		width: 90%;
	}
	.article {
		width: 47%;
	}
	.main__section3 .article {
		width: 47%;
	}
	.article__name {
		font-size: 14px;
	}
	.footer .article {
		width: 47%;
	}
}
/* tablet */
@media (max-width: 768px) {
	.section {
		padding: 120px 0;
	}
	.banner {
		height: 300px;
	}
	.banner__img {
		width: 100%;
		height: 100%;
	}
	.banner__video {
		z-index: -1;
		display: none;
	}
	.banner__background {
		height: 300px;
	}
	.banner__title {
		font-size: 3rem;
		width: 80%;
	}
	.main__description {
		width: 80%;
	}
	.article {
		width: 100%;
	}
	.main__section3 .article {
		width: 100%;
	}
	.footer .article {
		width: 100%;
	}
}
/* mobile */
@media (max-width: 425px) {
	.section {
		padding: 100px 0;
	}
	.banner {
		height: 200px;
	}
	.banner__img {
		width: 100%;
		height: 100%;
	}
	.banner__title {
		font-size: 2.5rem;
	}
	.banner__description {
		width: 80%;
		line-height: 1.5rem;
		font-size: 14px;
	}
	.main__description {
		width: 80%;
	}
	.article {
		width: 100%;
	}
	.article__profile {
		width: 10vw;
	}
	.footer .article {
		width: 100%;
	}
	.footer__company {
		font-size: 12px;
	}
}
