:root {
	/* banner title size*/
	--font-size-large: 4rem;
	/* banner  */
	--font-size-medium: 2.5rem;
	/* main title size */
	--font-size-regular: 1.25rem;
	--font-size-small: 1rem;
	--font-size-micro: 14px;
	--font-description: 1.25rem;
	--font-footer-title: 1rem;
}
/* reset style */
* {
	box-sizing: border-box;
}
html,
body,
h1,
h2,
h3,
p,
span {
	margin: 0;
	padding: 0;
}
ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	color: #ffffff;
	text-decoration: none;
}

h1,
h2,
h3,
p {
	font-family: "Raleway", sans-serif;
}
/* a tag base style */
.link {
	text-decoration: none;
	color: #ffffff;
}

/* button base style */
.btn {
	border: none;
	outline: none;
	font-family: "Raleway", sans-serif;
	cursor: pointer;
	transition: color 0.4s;
	background-color: transparent;
}
body::before {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	background: url(/cloneCoding2/images/bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: -10;
	opacity: 0.1;
}
.header {
	position: sticky;
	top: 0;
	width: 100%;
	height: 44px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #111111;
	color: #ffffff;
	font-family: "Raleway", sans-serif;
	font-size: var(--font-size-micro);
	z-index: 10;
}
.header__title {
	font-size: inherit;
	font-weight: 500;
	padding: 10px 20px;
}
.header__menu-btn {
	font-size: inherit;
	padding: 10px 20px;
	color: #888888;
}
.header__menu-btn:hover {
	color: #ffffff;
}
.header__menu-icon {
	margin-right: 5px;
}
/* aside( side manu) */
.slide-menu {
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	height: 100vh;
	background: #111111;
	z-index: 50;
	text-align: right;
	transition: all 0.4s;
}
.slide-menu.active {
	right: 0;
}
.menu__close-btn {
	font-size: 2rem;
	padding: 15px;
	color: #888888;
}
.menu__close-btn:hover {
	color: #ffffff;
}
.menu__list {
	padding: 50px;
	text-align: left;
}
.menu__item {
	font-size: 1.25rem;
}
.menu__item:not(:last-child) {
	border-bottom: 1px solid #888888;
}
.menu__link {
	display: block;
	color: #888888;
	padding: 20px 0;
	transition: color 0.4s;
}
.menu__link:hover {
	color: #fff;
}
/* banner */
.banner {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 513px;
	overflow: hidden;
}

.banner__video {
	position: absolute;
	bottom: 50%;
	right: 50%;
	transform: translateX(50%) translateY(50%);
	width: 100%;
	z-index: -1;
}
.banner__background {
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
	height: 100%;
	width: 100%;
	opacity: 1;
	animation: intro-bg 3s linear 3s;
	animation-fill-mode: forwards;
}
.banner__info {
	color: #ffffff;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	animation: intro-text 3s linear 2s;
	animation-fill-mode: forwards;
}
@keyframes intro-bg {
	100% {
		opacity: 0.5;
	}
}
@keyframes intro-text {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.banner__title {
	font-size: var(--font-size-large);
	font-weight: 300;
}
.banner__description {
	color: #a88c8c;
	text-align: center;
	font-size: var(--font-description);
	font-weight: 400;
	line-height: 2rem;
	letter-spacing: 0.5px;
}
.banner__link {
	color: #a88c8c;
	transition: color 0.4s;
}
.banner__link:hover {
	color: #ffffff;
}
.main {
	margin: 100px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.main__title {
	font-size: var(--font-size-medium);
	font-weight: 300;
	color: #555555;
	margin-bottom: 20px;
}
.main__description {
	font-size: var(--font-description);
	line-height: 1.5rem;
	margin-bottom: 30px;
}
.main__contents {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
}

.article {
	background-color: #ffffff;
	border-radius: 4px;
	margin: 20px;
	padding: 60px 30px;
	min-width: 300px;
	max-width: 400px;
	width: 30%;

	text-align: center;
}
.article__icon {
	font-size: 70px;
	color: #ce1b28;
}
.article__header {
	padding: 30px 0;
}
.article__description {
	font-size: var(--font-size-micro);
}
/* section2 */
.main__section2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	background: url(./images/cta01.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;
}
.main__section2::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -1;
	opacity: 0.2;
	background-color: #ce1b28;
}
.main__section2 .main__title {
	color: #fff;
	margin-top: 150px;
}
.main__section2 .main__description {
	color: rgba(255, 255, 255, 0.75);
	width: 80%;
	margin-bottom: 150px;
}
/* section3 */
.main__section3 {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main__section3 .main__title {
	margin-top: 150px;
}
.main__section3 .main__description {
	color: rgba(0, 0, 0, 0.75);
}
.main__section3 .article__wrap {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 150px;
}
.main__section3 .article {
	width: 400px;
}
.main__section3 .article__description {
	/* line-height: 1.55rem; */
	margin: auto;
	font-style: italic;
	height: 150px;
	width: 80%;
	text-align: left;
	position: relative;
	padding: 0 30px;
	font-size: var(--font-description);
	margin-bottom: 30px;
}
.main__section3 .article__description::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 10px;
	height: 100%;
	background-color: #c6c6c6;
}
.article__profile {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin-right: 20px;
}
.article__name {
	display: inline-block;
	vertical-align: top;
	margin-top: 1.5rem;
}
.article__name--red {
	color: #ce1b28;
}
/* footer */
.footer {
	background: #111111;
	padding: 100px 0;
	color: #ffffff;
}
.footer__wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	width: 90%;
	max-width: 1100px;
	margin: 25px auto;
	border-bottom: 1px solid #888888;
	padding-bottom: 20px;
}
.footer__section {
}
.footer__section1 {
	flex: 2 1 auto;
	width: 350px;
	min-width: 350px;
	margin-right: 50px;
}
.footer__section2 {
	flex: 1 0 auto;
	/* width: 250px; */
}
.footer__section3 {
	flex: 1 0 auto;

	width: 250px;
	margin-left: 50px;
}
.footer__title {
	margin-bottom: 30px;
	/* font-size: var(--font-size-micro); */
	font-size: 1.5rem;
	font-weight: 300;
}
.footer__description {
	color: #888888;
	font-size: 12px;
	line-height: 1.5rem;
}

.footer__list .footer__item {
	padding: 15px 0;
	border-bottom: 1px solid #888888;
}
.footer__item {
	padding: 15px 0;
}
.footer__item:first-child {
	padding: 0 0 15px 0;
}
.footer__item:last-child {
	border: none;
}
.footer__link {
	color: #888888;
}
.footer__link:hover {
	color: #ce1b28;
}
.footer__link:hover .footer__icon {
	color: #888888;
}

.footer__icon {
	padding: 0 5px 0 0;
	font-size: 1.25rem;
}
.footer__company {
	text-align: center;
	font-size: var(--font-size-micro);
	color: #888888;
}

@media (max-width: 1275px) {
	.banner__video {
	}
}
