:root {
	--font-size-large: 4rem;
	--font-size-medium: 14px;
	--font-size-regular: 14px;
	--font-size-small: 14px;
	--font-size-micro: 14px;
}
html,
body,
h1,
h2,
h3,
p,
span {
	margin: 0;
	padding: 0;
}
/* reset style */
* {
	box-sizing: border-box;
}

h1,
h2,
h3,
p {
	font-family: "Raleway", sans-serif;
}
/* a tag base style */
.link {
	text-decoration: none;
	color: #ffffff;
}

/* button base style */
.btn {
	border: none;
	outline: none;
	font-family: "Raleway", sans-serif;
	cursor: pointer;
	transition: color 0.4s;
	background-color: transparent;
}
body {
	/* display: block;
	position: fixed;
	top: 0;
	left: 0;
	background: url(/cloneCoding2/images/bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.5; */
}
.header {
	position: sticky;
	top: 0;
	width: 100%;
	height: 44px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #111111;
	color: #ffffff;
	font-family: "Raleway", sans-serif;
	font-size: var(--font-size-medium);
	z-index: 10;
}
.header__title {
	font-size: inherit;
	padding: 10px 20px;
}
.header__menu--btn {
	font-size: inherit;
	padding: 10px 20px;
	color: #888888;
}
.header__menu--btn:hover {
	color: #ffffff;
}
.header__menu--icon {
	margin-right: 5px;
}
.banner {
	position: relative;
	height: 513px;
	overflow: hidden;
	background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
	z-index: 1;
}

.banner__video {
	transform: translateX(60%) translateY(60%);
	position: absolute;
	bottom: 50%;
	right: 50%;
	opacity: 0;
	z-index: -1;
	animation: intro-bg 3s linear 2s;
	animation-fill-mode: forwards;
}
.banner__inner {
	color: #ffffff;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	animation: intro-text 3s linear 1s;
	animation-fill-mode: forwards;
}
@keyframes intro-bg {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}
@keyframes intro-text {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.banner__title {
	font-size: 4rem;
	font-weight: 300;
}
.banner__description {
	color: #a88c8c;
	font-size: 1.25rem;
	font-weight: 400;
}
.banner__link {
	color: #a88c8c;
	transition: color 0.4s;
}
.banner__link:hover {
	color: #ffffff;
}
.main {
	height: 3000px;
}
